* {
    font-family: 'Archivo',  sans-serif;
  }

  .container {
    max-width: 1100px;
}


header {
    background-image: url(/Imagenes/contactoc.jpg);
    background-size: cover;
    height: 550px;
    position: relative;
}


.btn-primary,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #22977a;
    border-color: #f5f4f4;
    color:#ffffff;
    font-family:inherit;
    font-size:medium;
}


.btn-primary:hover {
    background-color: #227e71!important;
    border-color: #ffffff!important;
  }



.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
}


.container h1 {
    font-size: 75px;
    font-weight: 900; 
    color:white;     
}

h9 {
    font-size: 30px;
    font-weight: 700; 
    color:#c9a401;
}

h7 {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px; 
    color:white;   
}

h8 {
    font-family: 'Montserrat';
    font-weight: 200;
    font-size: 16px; 
    color:white;   
}

#botton {
    background-color: #227e71;
    border-radius: 50px;
    width: 50%;
    margin-right: 300px;
    
}

#comunicacion {
    background-color: #1b1a1a;
}
main {
    background-color: #1b1a1a;
}

footer {
    background-color: black;
}
#social {
    list-style-type: none;
  }
  
#social path {
    color: #227e71;
  }

  #footer svg {
    display: flex;
    margin-right: 10px;
    width: 160px;
    
  
  }
