header {
  background-color: black;
  display: block;
  padding: 20px;
  width: 100%;
}  

#empresa a {
    color: white;
    cursor: pointer;
    
}

#empresa a:hover {
  color: blue;
  
  
}

nav {
  display: block;
  
}

.banner1 {
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/Imagenes/banner.jpg);
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    object-fit: cover;
    object-position: bottom 
}

.banner1 h1 {
  color: white;
  font-size: 5vw;
  font-weight: bold;
  font-family: 'Alkatra', cursive;
  padding: 70px;
  -webkit-text-stroke: 0.1px black;   
}

.banner1 h2 {
    color: white;
    font-size: 2em;
    font-weight: bold;
    font-style: oblique;
    font-family: Arial, Helvetica, sans-serif;
    padding: 60px;
    -webkit-text-stroke: 0.1px black;   
  }

.banner1 p {
     color: white;
     font-size: 30px;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     padding: 50px;
     -webkit-text-stroke: 0.3px black;
}


.box-car {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    
    
}

.card-body {
  box-shadow: 0px 0px 75px 0px;
  border-style: double;
}

.box-car img {
    height: 100%;
    border-style: double;    
}


.opcioncard {
    margin-top: 50px;
    background-color: white;
    text-align: center;
    border-color: #3366cc;
    
            
}

.opcioncard h1 {
    text-decoration: overline;
}


#ayuda {
    background-color: black;
    text-align: center;
    display: block;
}

#botonayuda {
    width: 200px;
    border-radius: 30px;
    border-color: white;
    margin: 30px;       
}

.ayuda p{
    color: white;
    padding: 10px;
    margin: 5px;
    text-align: center;
    font-size: 30px;
}

#conocenos2 {
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    text-align: center;
    display: flex;
            
}

#preguntas  {
    margin: 30px;
    padding: 30px;
    display: flex;
}

#footer {
  background-color: black;
  
}

#footer svg {
  display: flex;
  margin-right: 20px;

}

#footer li {
  right: 300px;

}
