<<<<<<< HEAD
header {
  background-color: black;
  display: block;
  padding: 20px;
  width: 100%;
}  

#empresa a {
    color: white;
    cursor: pointer;
    
}

#empresa a:hover {
  color: blue;
  
  
}

nav {
  display: block;
  
}


#reclamo {
  box-shadow: 30px 30px 30px 30px;
  margin: 30px 0px 0px 300px;

=======
header {
  background-color: black;
  display: block;
  padding: 20px;
  width: 100%;
}  

#empresa a {
    color: white;
    cursor: pointer;
    
}

#empresa a:hover {
  color: blue;
  
  
}

nav {
  display: block;
  
}


#reclamo {
  box-shadow: 30px 30px 30px 30px;
  margin: 30px 0px 0px 300px;

>>>>>>> 108716300d8cf0bbd3742cffe9c39c43b1876638
}